.DailyNormBackgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 335px;
  height: 269px;
  background-image: url(../img/mob/basement/women.bas.mob.png);
}
.daily_norm_div {
  display: flex;
  border-radius: 30px;
  background: rgb(27, 27, 27);
  color: rgba(246, 246, 246, 0.6);
  width: 100%;
}
.daily_norm_icon {
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgba(246, 246, 246, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 20px;
}
.daily_norm_svg {
  fill: rgb(246, 246, 246);
}
.daily_norm_div_info {
  margin: 40px 20px 40px 70px;
}
.daily_norm_info {
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 14px;
}

/*media*/
@media only screen and (min-resolution: 192dpi) and (min-width: 375px) {
  .DailyNormBackgroundImage {
    background-image: url(../img/mob/basement/women.bas.mob@2x.png);
  }
}
@media screen and (min-width: 375px) {
  .daily_norm_div {
    width: 335px;
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .DailyNormBackgroundImage {
    background-image: url(../img/tablet/basament/women.bas.tab@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .daily_norm_div {
    width: 736px;
  }
  .DailyNormBackgroundImage {
    max-width: 736px;
    height: 302px;
    background-image: url(../img/tablet/basament/women.bas.tab.png);
  }
  .daily_norm_icon {
    margin-top: 65px;
    margin-left: 64px;
  }
  .daily_norm_div_info {
    margin: 64px 96px 64px 114px;
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 1440px) {
  .DailyNormBackgroundImage {
    background-image: url(../img/desktop/basament/women.bas@2x.png);
  }
}
@media screen and (min-width: 1440px) {
  .DailyNormContainer {
    display: flex;
  }

  .daily_norm_div {
    width: 704px;
  }
  .DailyNormBackgroundImage {
    max-width: 704px;
    height: 302px;
    background-image: url(../img/desktop/basament/women.bas.png);
  }
  .daily_norm_div_info {
    margin-right: 64px;
  }
}
