.exercise-filters-list-subcategories {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 14px;
  margin-bottom: 32px;
}

.exercises {
  width: 335px;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgb(232, 232, 232);
}
.title-exercises {
  color: rgb(27, 27, 27);
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  color: #1b1b1b;
}

.item-exercises {
  padding: 7px 10px;
  color: rgb(27, 27, 27);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0px;
  border: none;
  border-radius: 30px;
  background: rgb(246, 246, 246);
  height: 32px;
  min-width: 88px;
}
.exercises-form {
  margin-left: auto;
  border-radius: 30px;
  background: #f6f6f6;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  min-width: 280px;
}

.exercises-form .search-input::placeholder {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

.buttons-container {
  display: flex;
  gap: 4px;
}

.list-exercises {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
}
.exercise-category-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.workout-card {
  flex-basis: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 16px;
  height: 185px;
}

.main-part-name {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  line-height: 1.33;
}

.card-main-part {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 375px) {
  .item-exercises {
    padding: 7px 14px;
  }
  .exercises-form {
    min-width: 295px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767.98px) {
  .exercises-form {
    margin-top: 20px;
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  .exercises {
    width: 736px;
    padding: 64px 48px;
  }
  .title-exercises {
    font-size: 44px;
    line-height: 48px;
    margin-bottom: 32px;
  }

  .list-exercises {
    flex-direction: row;
    margin-bottom: 0px;
  }
  .exercises-form .search-input::placeholder {
    color: #1b1b1b;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  .exercises-form {
    height: 48px;
    min-width: 246px;
  }
  .item-exercises {
    padding: 10px 20px;
  }
  .exercise-category-list {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 14px;
    margin-bottom: 32px;
  }

  .workout-card {
    flex-basis: calc((100% - 14px) / 2);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 16px;
    height: 185px;
  }
  .main-part-name {
    color: #1b1b1b;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    line-height: 1.33;
  }

  .list-exercises {
    gap: 8px;
    margin-bottom: 32px;
  }
}

/* Desktop */

@media screen and (min-width: 1440px) {
  .exercises {
    width: 1408px;
  }
  .workout-card {
    flex-basis: calc((100% - 40px) / 3);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 16px;
    height: 185px;
  }
  .exercises-form {
    min-width: 273px;
  }
  .item-exercises {
    height: 44px;
  }

  .exercise-category-list {
    flex-direction: column;
    column-gap: 20px;
  }
  .card-main-part {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .item-exercises {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-is-active {
  background: #7e847f;
  border-color: #7e847f;
  color: #f6f6f6;
}

.exercise-filters-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .exercise-filters-list {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 32px;
  }
}

.filter-list {
  position: relative;
  cursor: pointer;
}

.img-exercises {
  width: 295px;
  height: 232px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  border-radius: 12px;

  background: lightgray;
}

@media screen and (min-width: 768px) {
  .img-exercises {
    width: 313px;
    height: 250px;
  }
}

.filter-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 2px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    0deg,
    rgba(16, 16, 16, 0.7) 0%,
    rgba(16, 16, 16, 0.7) 100%
  );
}

.filter-exercises {
  color: rgb(246, 246, 246);
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .filter-exercises {
    font-size: 24px;
    line-height: 24px;
  }
}

.filter-name {
  color: rgba(246, 246, 246, 0.4);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-subcategories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-btn {
  width: 32px;
  height: 32px;
  color: rgba(27, 27, 27, 0.4);
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .pagination-btn {
    font-size: 24px;
  }
}

.pagination-btn-is-active {
  color: #1b1b1b;
  text-align: center;
  border: 1px solid rgb(27, 27, 27);
  border-radius: 18px;
}

/* ТУТ ПОЧИНАЮТЬСЯ СТИЛІ ДО ФАЙЛУ exercises.subcategories.js */

.card-header {
  display: flex;
  margin-bottom: 29px;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}
.start-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  stroke: #1b1b1b;
  fill: white;
  border: none;
  margin-left: 50px;
  background-color: transparent;
}
.workout-wrapper {
  display: flex;
}
.card-footer-text-descr {
  color: rgba(27, 27, 27, 0.4);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
.card-footer-text-value {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  text-transform: capitalize;
}
.run-icon-wrapper {
  width: 24px;
  height: 24px;
  fill: #f6f6f6;
  background-color: #7e847f;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.main-part-name::first-letter {
  text-transform: uppercase;
}

.workout {
  border-radius: 15px;
  background-color: #7e847f;
  padding: 5px 8px;
  text-transform: uppercase;
  color: #f6f6f6;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  margin-right: 16px;
}
.rating-wrapper {
  display: flex;
  gap: 2px;
  align-items: center;
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  fill: #eea10c;
}

.title-exercises {
  text-transform: capitalize;
}
.icon-search {
  stroke: black;
  fill: #f6f6f6;
}
.search-button {
  border: none;
  background-color: #f6f6f6;
}

.search-input {
  border: none;
  background-color: #f6f6f6;
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
}

/* ТУТ ЗАКІНЧУЮТЬСЯ СТИЛІ ДО ФАЙЛУ exercises.subcategories.js */

/* стили для сообщения об отсутствии результатов поиска в файле exercises_search.js */

.no-results {
  padding-top: 164px;
  padding-bottom: 320px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .no-results {
    padding-top: 222px;
    padding-bottom: 585px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .no-results {
    padding-top: 217px;
    padding-bottom: 350px;
    padding-left: 340px;
    padding-right: 340px;
  }
}
.accent-text {
  color: #7e847f;
}
/* Тут закончились стили для сообщения об отсутствии результатов поиска в файле exercises_search.js */
/* ТУТ ПОЧИНАЮТЬСЯ СТИЛІ ДО ФАЙЛУ exercises_search.js */

.search-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 14px;
  margin-bottom: 32px;
}

.search-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
