.FooterSection {
  width: 335px;
  margin: 20px;
  padding: 40px 20px 20px;
  border-radius: 30px;
  border: 1px solid black;
  background-image: url(../img/mob/basement/women.footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  font-family: DM Sans, sans-serif;
  margin: auto;
}
@media only screen and (min-resolution: 192dpi) and (min-width: 375px) {
  .FooterSection {
    background-image: url(../img/mob/basement/women.footer@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .FooterSection {
    width: 736px;
    padding: 64px 48px 32px;
    border: none;
    box-shadow: none;
    border-radius: 50px;

    background-image: url(../img/tablet/basament/women.footer.jpg);
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .FooterSection {
    background-image: url(../img/tablet/basament/women.footer@2x.jpg);
  }
}
@media screen and (min-width: 1440px) {
  .FooterSection {
    width: 1408px;
    padding: 64px 48px 26px;
    background-image: url(../img/desktop/basament/women.footer.jpg);
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 1440px) {
  .FooterSection {
    background-image: url(../img/desktop/basament/women.footer@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .FootVibe {
    display: flex;
    gap: 139px;
  }
}

@media screen and (min-width: 1440px) {
  .FootVibe {
    display: flex;
    gap: 160px;
  }
}
@media screen and (min-width: 1440px) {
  .FooterForm {
    width: 352px;
  }
}
.FootLogo {
  color: rgb(246, 246, 246);
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .FootLogo {
    font-size: 28px;
  }
}

.FooterH {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  color: #f6f6f6;
  text-align: left;
  font-family: DM Sans, sans-serif;
  width: 279px;
  height: 64px;
}
@media screen and (min-width: 768px) {
  .FooterH {
    font-size: 54px;
    line-height: 0.96;
    letter-spacing: -0.02em;
    margin-bottom: 39px;
    width: 345px;
    height: 150px;
  }
}
@media screen and (min-width: 1440px) {
  .FooterH {
    width: 488px;
    height: 186px;
    font-size: 64px;
  }
}
.accent {
  font-style: italic;
  color: rgba(246, 246, 246, 0.3);
}
.FooterUl {
  display: flex;
  gap: 12px;
  margin-top: 9px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .FooterUl {
    margin-top: 30px;
  }
}
.FooterP {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #f6f6f6;
  width: 268px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .FooterP {
    font-size: 18px;
    width: 345px;
  }
}

.FooterSocialList {
  box-sizing: border-box;
  border: 1px solid rgba(246, 246, 246, 0.2);
  padding: 8px;
  border-radius: 10px;
}
.FooterSocialList:hover,
.FooterSocialList:focus {
  border: 1px solid rgb(95, 101, 96);
}

.FormInput {
  width: 295px;
  height: 42px;
  border-radius: 30px;
  border: 1px solid rgb(246, 246, 246);
  outline: none;
  padding: 12px 14px;
  margin-bottom: 12px;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
}
.FormInput:hover,
.FormInput:focus {
  border: 1px solid rgb(246, 246, 246);
}
.FormInput::placeholder {
  color: rgb(246, 246, 246);
}

.FormInput[type='email'] {
  color: rgb(246, 246, 246);
}
@media screen and (min-width: 768px) {
  .FormInput {
    width: 352px;
    height: 48px;
  }
}
.FooterSvg {
  fill: rgb(246, 246, 246);
  display: block;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .FooterSvg {
    width: 28px;
    height: 28px;
  }
}
.FooterSvg:hover,
.FooterSvg:focus {
  fill: rgb(95, 101, 96);
}
@media screen and (min-width: 1440px) {
  .FooterSlogo {
    display: flex;
    gap: 160px;
  }
}
.ModalButton {
  width: 295px;
  height: 42px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.04em;
  border-radius: 30px;
  background: rgb(126, 132, 127);
  border: none;
  padding: 0;
  margin-bottom: 60px;
}
.ModalButton:hover,
.ModalButton:focus {
  background: rgb(95, 101, 96);
}
@media screen and (min-width: 768px) {
  .ModalButton {
    margin-bottom: 120px;
    width: 352px;
    height: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .ModalButton {
    margin-bottom: 186px;
  }
}

.FooterText {
  color: rgb(246, 246, 246);
  font-size: 12px;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: 0.02em;
  text-align: left;
}

.FooterPrivacy {
  margin-bottom: 8px;
}
.slesh {
  margin: 0 8px;
}
@media screen and (min-width: 768px) {
  .FooterText {
    display: flex;
    gap: 32px;
    justify-content: center;
    font-size: 14px;
    line-height: 1.2; /* 128.571% */
  }
}

/* loader */
.lodDiv {
  display: flex;
  justify-content: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid rgba(27, 27, 27, 0.7);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 10s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
