/* .container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .container {
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
  }
} */
.header-main {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  width: 335px;
  margin: 20px auto 0;
}
@media screen and (min-width: 768px) {
  .header-main {
    width: 736px;
  }
}

@media screen and (min-width: 1440px) {
  .header-main {
    width: 1408px;
  }
}
.header-inern {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header-inern {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) {
  .header-inern {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header-nav {
  display: flex;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .header-nav {
    display: flex;
  }
}
.header-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    align-items: center;
    width: 211px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #7e847f;
  }
}
@media screen and (min-width: 1440px) {
  .header-menu {
    display: flex;
    align-items: center;
    width: 211px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #7e847f;
  }
}
.mobile-icons {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile-icons {
    display: flex;
    gap: 12px;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-icons {
    display: flex;
    gap: 12px;
  }
}
.mobile-icons-list {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(126, 132, 127, 0.2);
}
@media screen and (min-width: 768px) {
  .mobile-icons-list {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid rgba(126, 132, 127, 0.2);
  }
}
@media screen and (min-width: 1440px) {
  .mobile-icons-list {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid rgba(126, 132, 127, 0.2);
  }
}
.mobile-fill {
  fill: #7e847f;
}
@media screen and (min-width: 768px) {
  .mobile-fill {
    fill: #7e847f;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-fill {
    fill: #7e847f;
  }
}
.mobil-button-menu {
  background-color: #e8e8e8;
  border: none;
}
@media screen and (min-width: 768px) {
  .mobil-button-menu {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .mobil-button-menu {
    display: none;
  }
}

.mobil-button-menu-svg {
  fill: #7e847f;

  scale: 2;
}
@media screen and (min-width: 768px) {
  .mobil-button-menu-svg {
    width: 32px;
    height: 16px;

    fill: #7e847f;
  }
}
@media screen and (min-width: 1440px) {
  .mobil-button-menu-svg {
    width: 32px;
    height: 16px;

    fill: #7e847f;
  }
}
.header-logo {
  color: #1b1b1b;

  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.32px;
}
@media screen and (min-width: 768px) {
  .header-logo {
    display: flex;
    align-items: center;
    color: #1b1b1b;

    font-family: 'DM Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.56px;
  }
}
@media screen and (min-width: 1440px) {
  .header-logo {
    color: #1b1b1b;
    font-family: 'DM Sans';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.56px;
  }
}
.header-link {
  display: flex;
  padding: 6px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .header-link {
    display: flex;
    padding: 6px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .header-link {
    display: flex;
    padding: 6px 26px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.current {
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 8px 0px 8px 16px;
  border-radius: 30px;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .current {
    color: #1b1b1b;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 8px 0px 8px 16px;
    border-radius: 30px;
    background: #fff;
  }
}
@media screen and (min-width: 1440px) {
  .current {
    color: #1b1b1b;
    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 8px 0px 8px 16px;
    border-radius: 30px;
    background: #fff;
  }
}
.favorites {
  color: #f6f6f6;

  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .favorites {
    color: #f6f6f6;

    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .favorites {
    color: #f6f6f6;

    font-family: 'DM Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

/* -----------new code */

.hero-section {
}

.hero-photo {
  position: relative;
  width: 335px;
  height: 387px;
  flex-shrink: 0;
  margin: 0 auto;
  background-color: lightgray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../img/mob/hero/women.hero.mob.png');
  border-radius: 30px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero-photo {
    height: 884px;
    width: 288px;
    border-radius: 50px 0px 50px 50px;
    margin: 0;
    background-color: lightgray;
    background-size: cover;

    background-image: url('../../img/tablet/hero/women.full.tab.png');
  }
}

@media screen and (min-width: 1440px) {
  .hero-photo {
    border-radius: 50px 0px 50px 50px;
    width: 50%;
    height: 884px;
    flex-shrink: 0;
    background-color: lightgray;
    background-image: url('../../img/desktop/hero/women.desk.png');
    background-position: center;
    background-size: cover;
  }
}
.hero-container {
  width: 335px;
  height: 365px;
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 30px;
  background: #fff;
  padding: 60px 20px 20px;
}
@media screen and (min-width: 768px) {
  .hero-container {
    width: 448px;
    height: 900px;
    flex-shrink: 0;
    margin: 0;
    border-radius: 0px 50px 50px 50px;
    background: #fff;
    padding: 231px 32px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-container {
    height: 884px;
    width: 50%;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 50px;
    background: #fff;
    padding: 225px 32px 32px;
  }
}

@media screen and (min-width: 768px) {
  .hero-position {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero-text-main {
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.89;
  letter-spacing: -1.12px;

  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero-text-main {
    font-size: 98px;
    line-height: 0.97;
    letter-spacing: -1.96px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-text-main {
    font-size: 120px;
    line-height: 0.96;
    letter-spacing: -2.4px;
    margin-bottom: 25px;
  }
}
.hero-word {
  color: #7e847f;
  font-family: 'DM Sans';
  font-size: 56px;
  font-style: italic;
  font-weight: 400;
  line-height: 0.89;
  letter-spacing: -1.12px;
}
@media screen and (min-width: 768px) {
  .hero-word {
    font-size: 98px;
    line-height: 0.97;
    letter-spacing: -1.96px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-word {
    font-size: 120px;
    line-height: 0.96;
    letter-spacing: -2.4px;
  }
}
.hero-text {
  color: #1b1b1b;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.14px;
}
@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}
.legend {
  position: absolute;
  left: 10px;
  bottom: 20px;
}

@media screen and (min-width: 768px) {
  .legend {
    position: absolute;
    left: 20px;
    bottom: 104px;
  }
}

@media screen and (min-width: 1440px) {
  .legend {
    position: absolute;
    left: 48px;
    bottom: 32px;
  }
}
/* same for others breackpoints */
.legend-list {
  display: flex;
  width: 146px;
  align-items: center;
  align-content: center;
  gap: 4px;
  flex-wrap: wrap;
}

.legend-item {
  border-radius: 30px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  display: flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.legend-text {
  display: flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.legend-item-text {
  color: #f6f6f6;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
}

/* mobile menu */

.open-mobile-menu {
  line-height: 0;
}

.open-mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: #7e847f;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 20px 20px 40px;
  width: 100%;
  height: 100%;
  background-color: #7e847f;

  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translate(0%);
}

/* Header */

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-logo {
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
}

.mobile-menu-close-button {
  border: 0;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: #f6f6f6;
}

/* Content */

.mobile-menu-content {
  display: flex;
  justify-content: center;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.mobile-menu-link {
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.active-home,
.active-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b1b1b;
  border-radius: 30px;
  background-color: #ffffff;
}

.active-home {
  padding: 6px 26px;
}

.active-favorites {
  padding: 6px 26px;
}

/* Footer */

.mobile-menu-social-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.mobile-menu-social-link {
  display: flex;
  padding: 8px;
  width: 41px;
  height: 41px;
  border-radius: 10px;
  border: 1px solid rgba(246, 246, 246, 0.2);

  fill: #f6f6f6;
  opacity: 0.8;
}

.mobile-fill-modal {
  fill: #f6f6f6;
}
