.quote-icon-div-one {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 32px;
    background: rgba(246, 246, 246, 0.10);
}

.quote-title {
    color: #F6F6F6;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    margin-bottom: 14px;
}

.quoteText {
    color: rgba(246, 246, 246, 0.60);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    margin-bottom: 25px;
}

.quoteAuthor {
    color: #F6F6F6;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

.quote-icon-div-one {
    display: grid;
    place-items: center;
}

.quote-icon {
    fill: #f6f6f6;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (min-resolution: 192dpi) and (min-width: 375px) {
    .quote-img {
      background-image: url(/img/mob/quote/women.torso.mob@2x.png);
    }
}
  
@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .quote-img {
      background-image: url(/img/tablet/quote/women.torso.tab@2x.png);
    }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1440px) {
    .quote-img {
      background-image: url(/img/desktop/quote/women.torso@2x.png);
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 375px) {

    .quote {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .quote-one {
        border-radius: 30px;
        width: 335px;
        min-height: 272px;
        height: auto;
        background: #7e847f;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        gap: 12px;
    }

    .quote-icon-div-two {
        position: absolute;
        padding-top: 40px;
        padding-left: 287px;
    }
    
    .quote-icon-two {
        fill: #f6f6f6;
        width: 28px;
        height: 28px;
    }

    .quote-img {
        border-radius: 30px;
        width: 335px;
        height: 272px;
        background-image: url(/img/mob/quote/women.torso.mob.png);
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 768px) {

    .quote {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .quote-one {
        border-radius: 50px;
        width: 736px;
        height: 302px;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 64px;
        gap: 16px;
    }

    .quote-icon-div-two {
        padding-top: 32px;
        padding-left: 608px;
    }
    
    .quote-icon-two {
        width: 48px;
        height: 48px;
    }

    .quote-img {
        border-radius: 50px;
        width: 736px;
        height: 302px;
        background-image: url(/img/tablet/quote/women.torso.tab.png);
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 1440px) {

    .quote {
        display: flex;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .quote-one {
        border-radius: 50px;
        width: 704px;
        height: 302px;
        padding-left: 64px;
        padding-right: 64px;
    }

    .quote-icon-div-two {
        padding-left: 592px;
    }

    .quote-img {
        border-radius: 50px;
        width: 704px;
        height: 302px;
        background-image: url(/img/desktop/quote/women.torso.png);
    }
}
