<header class="header-main-favorites">
  <div class="container header-container-favorites">
    <a class="header-logo" href="./index.html">energy.flow</a>
    <nav class="header-nav">
      <ul class="header-menu">
        <li><a class="header-link favorites" href="./index.html">Home</a></li>
        <li>
          <a class="header-link current" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <ul class="mobile-icons">
      <li class="mobile-icons-list">
        <a href="https://www.instagram.com/goitclub/" target="_blank" class="mobile-icons-link">
          <svg class="mobile-fill" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-icons-list">
        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="mobile-icons-link">
          <svg class="mobile-fill" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-icons-list">
        <a href="https://www.facebook.com/goITclub/" target="_blank" class="mobile-icons-link">
          <svg class="mobile-fill" width="24" height="24">
            <use href="/img/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="mobil-button-menu open-mobile-menu mobil-button-menu-favorites" type="button">
      <svg class="mobil-button-menu-svg open-mobile-menu-btn js-open-menu" width="32" height="16"
        aria-label="mobile menu open icon">
        <use href="/img/symbol-defs.svg#icon-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>
<!-- mobile window -->
<div class="mobile-menu js-menu">
  <div class="mobile-menu-header">
    <a class="mobile-menu-logo" href="./index.html">energy.flow</a>

    <button class="mobile-menu-close-button js-close-menu" type="button">
      <svg class="mobile-close-icon" aria-label="mobile menu close icon" width="20" height="20">
        <use href="/img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu-content">
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list list">
        <li class="mobile-menu-item header-link favorites">
          <a class="header-menu-link link" href="./index.html">Home</a>
        </li>
        <li class="mobile-menu-item header-link current">
          <a class="header-menu-link link" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>
  </div>

  <ul class="mobile-menu-social-list list">
    <li class="mobile-menu-social-list-item">
      <a class="mobile-menu-social-link link" href="https://www.facebook.com/goITclub/" target="_blank">
        <svg class="mobile-fill-modal" width="25" height="25" aria-label="facebook icon">
          <use href="/img/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social-list-item">
      <a class="mobile-menu-social-link link" href="https://www.instagram.com/goitclub/" target="_blank">
        <svg class="mobile-fill-modal" width="25" height="25" aria-label="instagram icon">
          <use href="/img/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-menu-social-list-item">
      <a class="mobile-menu-social-link link" href="https://www.youtube.com/c/GoIT" target="_blank">
        <svg class="mobile-fill-modal" width="25" height="25" aria-label="youtube icon">
          <use href="/img/symbol-defs.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>