<section class="container containerQuoteFavorites">
  <div class="QuoteFavorites">
    <div class="QuoteFavoritesOne">
      <div class="QuoteFavoritesIconDivOne">
        <svg class="QuoteFavoritesIcon" width="18" height="20">
          <use href="/img/symbol-defs.svg#icon-running"></use>
        </svg>
      </div>
      <div class="QuoteFavoriteTitleDiv">
        <h3 class="QuoteFavoriteTitle">Quote of the day</h3>
        <p class="QuoteFavoritesText"></p>
        <p class="QuoteFavoritesAuthor"></p>
      </div>
      <!-- <div class="QuoteFavoritesIconDivTwo">
        <svg class="QuoteFavoritesIcon" width="28" height="28">
          <use href=""></use>
        </svg>
      </div> -->
    </div>

    <div class="QuoteFavoritesTwo">
      <div class="QuoteFavoritesImgDiv">
        <div class="QuoteFavoritesImg"></div>
      </div>

      <div class="FavoritesQuoteDiv">
        <div class="QuoteFavoritesIconDivThree">
          <svg class="QuoteFavoritesIconTwo" width="20" height="20">
            <use href="/img/symbol-defs.svg#icon-dumbbell"></use>
          </svg>
          <h3 class="FavoritesQuote">110 min</h3>
          <p class="FavoritesQuoteText">Daily norm of sports</p>
        </div>
      </div>
    </div>
  </div>
</section>