<section class="container">
  <div class="quote-favorites">
    <div class="quotefavorites-icon-div-two">
      <svg class="quote-favorites-icon-two">
        <use href="/img/symbol-defs.svg#icon-quote"></use>
      </svg>
    </div>
    <div class="quote-favorites-one">
      <div class="quote-favorites-icon-div-one">
        <svg class="quote-favorites-icon" width="18" height="20">
          <use href="/img/symbol-defs.svg#icon-running"></use>
        </svg>
      </div>
      <div class="quote-favorite-title-div">
        <h3 class="quote-favorite-title">Quote of the day</h3>
        <p class="quoteFavoritesText"></p>
        <p class="quoteFavoritesAuthor"></p>
      </div>
    </div>

    <div class="quote-favorites-two">
      <div class="quote-favorites-img-div">
        <div class="quote-favorites-img"></div>
      </div>

      <div class="favorites-quote-div">
        <div class="quote-favorites-icon-div-three">
          <svg class="quote-favorites-icon-three" width="20" height="20">
            <use href="/img/symbol-defs.svg#icon-dumbbell"></use>
          </svg>
          <h3 class="favorites-quote">110 min</h3>
          <p class="favorites-quote-text">Daily norm of sports</p>
        </div>
      </div>
    </div>
  </div>
</section>