<div class="mobile-menu js-menu">
  <div class="mobile-menu-header">
    <a class="mobile-menu-logo" href="./index.html">energy.flow</a>

    <button class="mobile-menu-close-button js-close-menu" type="button">
      <svg class="mobile-close-icon" aria-label="mobile menu close icon" width="20" height="20">
        <use href="../img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <!-- nav buttons -->
  <div>
    <nav class="header-nav">
      <ul class="header-menu">
        <li><a class="header-link current" href="./index.html">Home</a></li>
        <li><a class="header-link favorites" href="./favorites.html">Favorites</a></li>
      </ul>
    </nav>
  </div>

  <div class="mobile-menu-content">
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-list list">
        <li class="mobile-menu-item">
          <a class="header-menu-link link" href="./index.html">Home</a>
        </li>
        <li class="mobile-menu-item">
          <a class="header-menu-link link" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>
  </div>


  <!-- social icons -->
  <ul class="mobile-icons">
    <li class="mobile-icons-list">
      <a href="https://www.instagram.com/goitclub/" target="_blank" class="mobile-icons-link">
        <svg class="mobile-fill" width="24" height="24">
          <use href="../../img/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-icons-list">
      <a href="https://www.youtube.com/c/GoIT" target="_blank" class="mobile-icons-link">
        <svg class="mobile-fill" width="24" height="24">
          <use href="../../img/symbol-defs.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="mobile-icons-list">
      <a href="https://www.facebook.com/goITclub/" target="_blank" class="mobile-icons-link">
        <svg class="mobile-fill" width="24" height="24">
          <use href="../../img/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>