<button class="SearchButton" type="button">Search</button>
<div class="Backdrop">
  <div class="Modal"></div>
</div>

<div class="Rating">
  <div class="RatingBody">
    <div class="RatingActive"></div>
    <div class="RatingItem">
      <input type="radio" class="RatingItem" value="1" name="Rating" />
      <input type="radio" class="RatingItem" value="2" name="Rating" />
      <input type="radio" class="RatingItem" value="3" name="Rating" />
      <input type="radio" class="RatingItem" value="4" name="Rating" />
      <input type="radio" class="RatingItem" value="5" name="Rating" />
    </div>
  </div>
</div>

<!-- <div class="StarRating"><svg class="StarModalIcon" width="18" height="18">
            <use href="./img/symbol-defs.svg#icon-star"></use>
          </svg><svg class="StarModalIcon" width="18" height="18">
            <use href="./img/symbol-defs.svg#icon-star"></use>
          </svg><svg class="StarModalIcon" width="18" height="18">
            <use href="./img/symbol-defs.svg#icon-star"></use>
          </svg><svg class="StarModalIcon" width="18" height="18">
            <use href="./img/symbol-defs.svg#icon-star"></use>
          </svg><svg class="StarModalIcon" width="18" height="18">
            <use href="./img/symbol-defs.svg#icon-star"></use>
          </svg></div> -->
