<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <button class="search-button" type="button">Search</button>
    <div class="backdrop is-hidden">
      <div class="modal">
        <button class="modal-close" type="button">
          <svg class="close-modal-icon" width="8" height="8">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
    <script type="module" src="../js/modal_window.js"></script>
  </body>
</html>
