.backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #2E2F4266;
    opacity: 0;
    /* visibility: hidden; */
    overflow-y: auto;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 40px;
    max-width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #f6f6f6;
    padding: 40px 20px;
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 30px;
    padding: 0;
    background-color: #E7E9FC;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* .ModalClose:hover,
.ModalClose:focus {
    background-color: #404bbf;
    border: none;
} */

/* .CloseModalIcon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .ModalClose:hover .CloseModalIcon,
.ModalClose:focus .CloseModalIcon {
    fill: #ffffff;
    
} */

.close-modal-icon {
    stroke: #1b1b1b;
    fill: #ffffff;
}

.modal-image {
    border-radius: 12px;
    background-color: rgba(27, 27, 27, 0.2);
    background-blend-mode: multiply;
    margin-bottom: 20px;
}

.image-gif {
    width: 295px;
    height: 258px;
    border-radius: 12px;
    opacity: 0.6;
}

.modal-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #1b1b1b;
    margin-bottom: 10px;
}

.modal-title::first-letter {
    text-transform: uppercase;
}

.modal-rating {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 118px;
    height: 18px;
    gap: 8px;
    margin-bottom: 16px;
}

.number-rating {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #1b1b1b;
    padding-top: 2px;
}

.rating-body {
    position: relative;
}

.rating-body::before {
    font-size: 20px;
    content: "★★★★★";
    display: block;
    color: rgba(27, 27, 27, 0.2);
}

.rating-active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating-active::before {
    font-size: 20px;
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #eea10c;
}

.rating-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating-item {
    flex: 0 0 20%;
    height: 100;
    opacity: 0;
}


.modal-list {
    width: 295px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}

.modal-list-item {
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
}


.item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(27, 27, 27, 0.4);
}

.item-data {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 4px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #1b1b1b;
}


.description {
    width: 295px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(27, 27, 27, 0.6);
    margin-top: 16px;
    margin-bottom: 40px;
}

.button-favourites {
    position: relative;
}


.add-remove-favorites {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    border-radius: 30px;
    padding: 12px 83px;
    width: 295px;
    height: 42px;
    background-color: #7e847f;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #f6f6f6;
}



.heart-modal-icon {
    position: absolute;
    right: 60px;
    bottom: 12px;
    stroke: #f6f6f6;
    fill: #7e847f;

}

.vector {
    stroke: rgba(27, 27, 27, 0.2);
    width: 295px;

}


@media screen and (min-width: 375px) {
    .modal {

        max-width: 335px;

    }
}


@media screen and (min-width: 768px) {
    .modal {
        display: flex;
        max-width: 716px;
        padding: 40px 40px;
        border-radius: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-image {
        min-width: 270px;
        height: 259px;
        margin-right: 25px;
    }

    .image-gif {
        width: 270px;
        min-height: 259px;
    }

    .modal-title {
        font-family: "DM Sans", sans-serif;
        font-size: 24px;
        line-height: 1.33;
        margin-bottom: 8px;
    }

    .modal-rating {
        margin-bottom: 7px;
    }

    .vector {
        width: 342px;

    }

    .modal-list {
        width: 342px;
        height: 96px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 16px;
    }

    .description {
        width: 342px;
        margin-bottom: 30px;
    }

    .add-remove-favorites {
        height: 48px;
        font-size: 16px;
        line-height: 1.5;
    }

    .heart-modal-icon {
        right: 110px;
        bottom: 16px;
    }


}


@media screen and (min-width: 1440px) {
    .modal {
        max-width: 732px;
    }

    .modal-image {
        margin-right: 30px;
    }

    .heart-modal-icon {
        right: 112px;

    }

}