/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./container.css');
/**/
@import url('./home_css/header_hero.css');
@import url('./home_css/quote_of_the_day.css');
@import url('./home_css/exercises.css');
@import url('./home_css/110_min.css');
@import url('./home_css/footer.css');
/**/
@import url('./favorites_css/header_favorites.css');
@import url('./favorites_css/quote_of_the_day_favorives.css');
@import url('./favorites_css/favorites_section.css');
/**/
@import url('./modal_window.css');
/*font*/
@import url('./fonts.css');
/*base_styles*/
:root {
  --white-bg-color: rgb(246, 246, 246);
  --white-color: rgb(255, 255, 255);
  --dark-grey-color: rgb(126, 132, 127);
  --grey-color: rgb(232, 232, 232);
  --light-grey-color: rgb(246, 246, 246);
  --black-color: rgb(27, 27, 27);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  /*color: var(--light-grey-color);*/
  background-color: var(--white-bg-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
