@media (max-width: 767px) {
  .favorites-pagination-block.close {
    display: none;
  }
}

.favorites-section {
  width: 335px;
  min-height: 450px;
  max-width: 1644px;
  border-radius: 30px;
  background-color: #e8e8e8;
  color: #1b1b1b;
  margin: auto;
  margin-top: 20px;
}

.favorites-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1b1b1b;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.div-favorites-section {
  margin: 0 auto;
  text-align: center;
}

.message-favorites {
  display: none;
  flex-direction: column;
  border-radius: 30px;
  margin-top: 60px;
}

.message-favorites.is-open-message-favorites {
  display: flex;
}
.message-favorites-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.dumbbell-favorites {
  width: 85px;
  height: 52px;
}

.text-favorites {
  width: 247px;
  height: 90px;
  color: #1b1b1b;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

/*Pagination*/

.favorites-pagination-block {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}

.favorites-pagination-block button {
  color: rgba(27, 27, 27, 0.4);
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
}

.favorites-pagination-block button.active-btn {
  color: var(--black-color);
  border-color: var(--black-color);
}

.active-btn {
  color: #1b1b1b;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  border: 1px solid #1b1b1b;
  transition: color 0.25s var(--transition-animation),
    border-color 0.25s var(--transition-animation);
}

/** Tablet**/
@media screen and (min-width: 768px) {
  .favorites-section {
    width: 736px;
    height: 928px;
    border-radius: 50px;
    margin: auto;
    margin-top: 16px;
  }

  .favorites-title {
    font-size: 44px;
    line-height: 1.09;
    padding-top: 64px;
    padding-left: 48px;
    padding-bottom: 32px;
  }

  .message-favorites-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding-top: 172px;
  }
  .dumbbell-favorites {
    width: 115px;
    height: 71px;
  }
  .text-favorites {
    width: 247px;
    height: 90px;
    color: #1b1b1b;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
  }
}

/**Desktop**/
@media screen and (min-width: 1440px) {
  .favorites-section {
    width: 1408px;
    height: 687px;
  }

  .favorites-title {
    font-size: 44px;
    line-height: 1.09;
    padding-top: 64px;
  }

  .text-favorites {
    width: 554px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
}

/*List Card*/

.favorites-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.favorites-list-item {
  width: 295px;
  height: 165px;
  border-radius: 15px;
  background: #fff;
  padding: 16px;
}

.favorites-card-header {
  display: inline-block;
  padding-bottom: 27px;
}

.favorites-workout {
  display: inline-block;
  width: 75px;
  height: 25px;
  background-color: #7e847f;
  border-radius: 15px;
}

.favorites-workout p {
  border-radius: 15px;
  padding: 5px 8px;
  text-transform: uppercase;
  color: #f6f6f6;
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  margin-right: 16px;
}

.favorites-btn-trash {
  display: inline-block;
  stroke: #1b1b1b;
  margin-left: 5px;
  border: none;
  padding: 0;
  background: none;
  box-sizing: border-box;
  vertical-align: middle;
}

.favorites-btn-arrow {
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  border: none;
  padding: 0;
  background: none;
  margin-left: 100px;
}

.favorites-icon-arrow {
  display: inline-block;
  margin-left: 8px;
}

.favorites-main-container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 18px;
}

.favorite-icon-run-man {
  width: 24px;
  height: 24px;
  fill: #f6f6f6;
  background-color: #7e847f;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.favorites-name-part {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.favorites-name-part::first-letter {
  text-transform: uppercase;
}

.favorites-card-footer-list {
  padding: 0;
}

.favorites-card-footer-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 6px;
  font-size: 12px;
  white-space: nowrap;
}

.favorites-card-footer-wrapper {
  display: flex;
  gap: 4px;
  font-size: 12px;
}

.favorites-card-footer-title {
  color: rgba(27, 27, 27, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  /*line-height: 1.5;*/
  margin-right: 4px;
  margin: 0;
}

.favorites-card-footer-block {
  color: #1b1b1b;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-weight: 400;
  /*line-height: 1.5;*/
  margin: 0;
  text-transform: capitalize;
}

/*List Card Tablet*/
@media (min-width: 768px) {
  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 14px;
    row-gap: 20px;
    max-height: 720px;
    padding-left: 48px;
  }

  .favorites-list-item {
    height: 166px;
    width: 313px;
    border-radius: 15px;
    background: #fff;
    padding: 16px;
  }

  .favorites-list-item:hover,
  .favorites-list-item:focus {
    transform: scale(0.95);
    transition: transform 0.25s var(--transition-animation);
  }

  .favorites-card-header {
    margin-bottom: 0;
    padding-bottom: 25px;
  }
  .favorites-btn-trash {
    display: inline-block;
    stroke: #1b1b1b;
    margin-left: 5px;
    border: none;
    padding: 0;
    background: none;
    box-sizing: border-box;
    vertical-align: middle;
  }

  .favorites-btn-trash:hover,
  .favorites-btn-trash:focus {
    transform: scale(0.95);
    transition: transform 0.25s var(--transition-animation);
  }

  .favorites-btn-arrow {
    color: #1b1b1b;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    border: none;
    border-radius: 8px;
    padding: 2px 8px;
    background: none;
    margin-left: 100px;
    transition: box-shadow 250ms ease-in-out;
  }

  .favorites-btn-arrow:hover,
  .favorites-btn-arrow:focus {
    transform: scale(1.1);
    transition: transform 0.25s var(--transition-animation);
    box-shadow: 4px 4px 8px 4px #61646232;
  }

  .favorites-icon-arrow {
    display: inline-block;
    margin-left: 8px;
  }

  .favorites-main-container {
    display: flex;
    align-items: center;

    margin: 0;
  }

  .favorite-icon-man {
    margin-right: 16px;
  }

  .favorites-name-part {
    color: #1b1b1b;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .favorites-card-footer {
    margin-top: 18px;
  }

  .favorites-card-footer-list {
    padding: 0;
  }

  .favorites-card-footer-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
    white-space: nowrap;
  }

  .favorites-card-footer-title {
    color: rgba(27, 27, 27, 0.4);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-right: 4px;
    margin: 0;
  }

  .favorites-card-footer-block {
    color: #1b1b1b;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-transform: capitalize;
  }
}

/*List Card Desktop*/
@media (min-width: 1440px) {
  .favorites-list {
    column-gap: 20px;
    row-gap: 28px;
    overflow-y: auto;
  }

  .favorites-list-item {
    display: flex;
    width: 424px;
    height: 141px;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .favorites-card-header {
    display: flex;
    align-items: center;

    padding-top: 0;
  }

  .favorites-btn-arrow {
    margin-left: 231px;
  }
  .favorites-card-footer-list {
    display: flex;
    gap: 8px;
  }

  .favorites-card-footer {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  .favorites-card-footer-block {
    white-space: nowrap; /* Запобігає переносу тексту на новий рядок */
    overflow: hidden; /* Приховує зайвий текст */
    text-overflow: ellipsis;
  }
  .favorites-card-footer-item {
    row-gap: 0;
  }
}
