@media (max-width: 767px) {
  .favorites-pagination-block.close {
    display: none;
  }
}

.favorites-section {
  width: 335px;
  min-height: 450px;
  max-width: 1644px;
  border-radius: 30px;
  background-color: #e8e8e8;
  color: #1b1b1b;
  margin-bottom: 20px;
}

.favorites-section {
  width: 335px;
  border-radius: 30px;
  padding: 40px 20px;
  background: rgb(232, 232, 232);
}

.favorites-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1b1b1b;
}

.div-favorites-section {
  margin: 0 auto;
}

.message-favorites {
  display: none;
  flex-direction: column;
  border-radius: 30px;
  margin-top: 80px;
}

.message-favorites.is-open-message-favorites {
  display: flex;
}
.message-favorites-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.dumbbell-favorites {
  width: 85px;
  height: 52px;
}

.text-favorites {
  width: 247px;
  height: 90px;
  color: #1b1b1b;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

/*Pagination*/

.favorites-pagination-block {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}

.favorites-pagination-block button {
  color: rgba(27, 27, 27, 0.4);
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  padding: 0;
  background-color: transparent;
  border: 1px solid transparent;
}

.favorites-pagination-block button.active-btn {
  color: var(--black-color);
  border-color: var(--black-color);
}

.active-btn {
  color: #1b1b1b;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  border: 1px solid #1b1b1b;
  transition: color 0.25s var(--transition-animation),
    border-color 0.25s var(--transition-animation);
}

/** Tablet**/
@media screen and (min-width: 768px) {
  .favorites-section {
    width: 736px;
    height: 928px;
    border-radius: 50px;
    margin: auto;
    padding: 64px 48px;
    margin-bottom: 16px;
  }

  .favorites-title {
    font-size: 44px;
    line-height: 1.09;
  }

  .div-favorites-section {
    height: 740px;
  }
  .message-favorites {
    margin-top: 208px;
  }
  .message-favorites-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
  .dumbbell-favorites {
    width: 115px;
    height: 71px;
  }

  .text-favorites {
    width: 554px;
    height: 72px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
  }
}

/**Desktop**/
@media screen and (min-width: 1440px) {
  .favorites-section {
    width: 1408px;
    height: 687px;
  }

  .favorites-title {
    font-size: 44px;
    line-height: 1.09;
  }

  .message-favorites {
    margin-top: 146px;
  }
}

/*List Card*/
.favorites-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  /*row-gap: 20px;*/
  column-gap: 14px;
  margin-bottom: 32px;
}

.favorites-list-item {
  margin-top: 20px;
}

.favorites-card {
  flex-basis: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 16px;
  height: 185px;
  width: 295px;
}
.favorites-card-header {
  display: flex;
  margin-bottom: 29px;
  justify-content: space-between;
}

.favorites-workout {
  display: flex;
}

.workout-p {
  border-radius: 15px;
  background-color: #7e847f;
  padding: 5px 8px;
  text-transform: uppercase;
  color: #f6f6f6;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  margin-right: 16px;
}

.favorites-btn-trash {
  display: inline-block;
  stroke: #1b1b1b;
  margin-left: 5px;
  border: none;
  padding: 0;
  background: none;
  box-sizing: border-box;
  vertical-align: middle;
}

.favorites-btn-arrow {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  stroke: #1b1b1b;
  fill: white;
  border: none;
  margin-left: 50px;
  background-color: transparent;
}

.favorites-main-container {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  gap: 16px;
}

.favorites-icon-run-man {
  width: 24px;
  height: 24px;
  fill: #f6f6f6;
  background-color: #7e847f;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.favorites-name-part {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  line-height: 1.33;
  white-space: nowrap; /* текст не переноситься на новий рядок */
  overflow: hidden; /* приховуємо текст, який не поміщається */
  text-overflow: ellipsis; /* дописуємо ... якщо текст не поміщається */
  width: 350px;
}

.favorites-name-part::first-letter {
  text-transform: uppercase;
}

.favorites-card-footer-list {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.favorites-card-footer-title {
  color: rgba(27, 27, 27, 0.4);
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
.favorites-footer-text-value {
  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  text-transform: capitalize;
}
/*List Card Tablet*/
@media (min-width: 768px) {
  .favorites-card {
    flex-basis: calc((100% - 14px) / 2);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 16px;
    height: 165px;
    width: 313px;
  }

  .favorites-card-header {
    margin-bottom: 20px;
  }

  .favorites-main-container {
    margin-bottom: 8px;
  }
  .favorites-name-part {
    color: #1b1b1b;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    line-height: 1.33;
    width: 239px;
  }

  .favorites-card-footer-list {
    gap: 5px;
  }
}

/*List Card Desktop*/
@media (min-width: 1440px) {
  .favorites-card {
    flex-basis: calc((100% - 40px) / 3);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 16px;
    height: 141px;
    width: 424px;
  }

  .favorites-main-container {
    margin-bottom: 24px;
  }

  .favorites-name-part {
    width: 223px;
  }
}
