.quote-favorites-icon-div-one {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 32px;
    background: rgba(246, 246, 246, 0.10);
}

.quote-favorite-title {
    color: #F6F6F6;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    margin-bottom: 14px;
}

.quoteFavoritesText {
    color: rgba(246, 246, 246, 0.60);
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    margin-bottom: 25px;
}

.quoteFavoritesAuthor {
    color: #F6F6F6;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
}

.quote-favorites-icon-div-one {
    display: grid;
    place-items: center;
}

.quote-favorites-icon {
    fill: #f6f6f6;
}

.quote-favorites-icon-two {
    margin-bottom: 15px;
}

.favorites-quote {
    color: #1B1B1B;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    padding-bottom: 6px;
}

.favorites-quote-text {
    color: rgba(27, 27, 27, 0.60);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 375px) {

    .quote-favorites {
        padding-top: 20px;
    }

    .quote-favorites-one {
        border-radius: 30px;
        width: 335px;
        min-height: 272px;
        height: auto;
        background: #7e847f;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        gap: 12px;
    }

    .quotefavorites-icon-div-two {
        position: absolute;
        padding-top: 40px;
        padding-left: 287px;
    }

    .quote-favorites-icon-two {
        fill: #f6f6f6;
        width: 28px;
        height: 28px;
    }

    .quote-favorites-img {
        border-radius: 30px;
        width: 335px;
        height: 272px;
        background-image: url(/img/mob/favorites/women.fav.mob.png);
    }

    .favorites-quote-div {
        border-radius: 30px;
        width: 335px;
        height: 272px;
        background: #FFF;
    }

    .quote-favorites-icon-div-three {
        padding-left: 102px;
        padding-top: 96px;
        padding-right: 101px;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 768px) {

    .quote-favorites {
        padding-top: 16px;
    }

    .quote-favorites-one {
        border-radius: 50px;
        width: 736px;
        height: 302px;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 64px;
        gap: 16px;
    }

    .quotefavorites-icon-div-two {
        padding-top: 32px;
        padding-left: 608px;
    }

    .quote-favorites-icon-two {
        width: 48px;
        height: 48px;
    }

    .quote-favorites-img {
        border-radius: 50px;
        width: 368px;
        height: 302px;
        background-image: url(/img/tablet/favorites/women.fav.tab.png);
    }

    .quote-favorites-two {
        display: flex;
    }

    .favorites-quote-div {
        border-radius: 50px;
        width: 368px;
        height: 302px;
    }

    .quote-favorites-icon-div-three {
        padding-left: 118px;
        padding-top: 106px;
        padding-right: 118px;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 1440px) {

    .quote-favorites {
        display: flex;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .quote-favorites-one {
        border-radius: 50px;
        width: 704px;
        height: 302px;
        padding-left: 64px;
        padding-right: 64px;
    }

    .quotefavorites-icon-div-two {
        padding-left: 592px;
    }

    .quote-favorites-img {
        width: 352px;
    }

    .favorites-quote-div {
        width: 352px;
    }

    .quote-favorites-icon-div-three {
        padding-left: 110px;
        padding-top: 106px;
        padding-right: 110px;
    }
}
