<section class="daily_norm">
  <div class="container DailyNormContainer">
    <div class="DailyNormBackgroundImage"></div>
    <div class="daily_norm_div">
      <div class="daily_norm_icon">
        <svg class="daily_norm_svg" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-dumbbell"></use>
        </svg>
      </div>
      <div class="daily_norm_div_info">
        <h4>110 min</h4>
        <p>Daily norm of sports</p>
        <p class="daily_norm_info">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day?
        </p>
      </div>
    </div>
  </div>
</section>
