<section class="daily-norm">
  <div class="container daily-norm-container">
    <div class="daily-norm-background-image"></div>
    <div class="daily-norm-div">
      <div class="daily-norm-icon">
        <svg class="daily-norm-svg" width="20" height="20">
          <use href="./img/symbol-defs.svg#icon-dumbbell"></use>
        </svg>
      </div>
      <div class="daily-norm-div-info">
        <h4 class="h4-text">110 min</h4>
        <p>Daily norm of sports</p>
        <p class="daily-norm-info">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day?
        </p>
      </div>
    </div>
  </div>
</section>
