<section class="exercises container">
  <div class="exercises-head">
    <h2 class="title-exercises">Exercises</h2>
    <div class="list-exercises filter-buttons">
      <div class="buttons-container">
        <button class="item-exercises button-is-active" data-filter="Muscles">
          Muscles
        </button>
        <button class="item-exercises" data-filter="Body parts">
          Body parts
        </button>
        <button class="item-exercises" data-filter="Equipment">Equipment</button>
      </div>
      <form class="exercises-form visually-hidden">
        <label for="#search" class="visually-hidden">Search</label>
        <input
          class="search-input"
          name="search"
          placeholder="Search"
          type="search"
          id="search"
        />
        <button class="search-button" type="submit">
          <svg class="icon-search" width="18" height="18">
            <use href="/img/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <ul class="exercise-filters-list"></ul>
  <ul class="exercise-filters-list-subcategories"></ul>
  <div class="pagination"></div>
  <div class="pagination-subcategories"></div>
  <div class="search-container visually-hidden">
    <ul class="search-list"></ul>
    <ul class="search-pagination"></ul>
    <p class="no-results visually-hidden">
      Unfortunately, <span class="accent-text">no results</span> were found. You
      may want to consider other search options to find the exercise you are
      looking for. Our range is wide and you have the opportunity to find more
      options that suit your needs.
    </p>
</section>
