<section class="exercises container">
  <div>
    <h2 class="title-exercises">Exercises</h2>
    <div class="list-exercises filter-buttons">
      <button class="item-exercises" data-filter="Muscles">Muscles</button>
      <button class="item-exercises" data-filter="Body parts">
        Body parts
      </button>
      <button class="item-exercises" data-filter="Equipment">Equipment</button>
    </div>
  </div>
  <ul class="exercise-filters-list"></ul>
  <div class="pagination"></div>
</section>
