<!-- Forma -->

<div>
  <form id="search-exercises" class="search-exercises">
    <input class="search-input" type="text" name="text" placeholder="Search" />
    <button class="search-button" type="submit">
      <svg class="search-icon" width="18" height="18">
        <use href="./img/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
  </form>

  <ul class="search-exercises-list"></ul>

  <button id="loadMoreButton">Load More</button>

  <script type="module" src="./js/home_js/exercises_search.js"></script>
</div>
