
    <footer class="FooterSection container">
  <div class="FootVibe ">
    <div class="FootInner">
      <a class="FootLogo" href="./index.html">energy.flow</a>
      <ul class="FooterUl">
        <li class="FooterSocialList">
          <a
            class="FooterSocialItem"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Follow us on Facebook"
          >
            <svg class="FooterSvg" width="20" height="20">
              <use href="/img/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="FooterSocialList">
          <a
            class="FooterSocialItem"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="FooterSvg" width="20" height="20">
              <use href="/img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="FooterSocialList">
          <a
            class="FooterSocialItem"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="FooterSvg" width="20" height="20">
              <use href="/img/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="FooterSlogo"> 
      <h2 class="FooterH">
        Transforming your <span class="accent">body</span> shape with us
      </h2>
      <div class="input-subs">
      <p class="FooterP">Subscribe and learn about new exercises!</p>
      <form class="FooterForm">
        <label class="FooterLabel" for="modal-footer"  aria-label="modal-footer">
          <input
            class="FormInput"
            type="email"
            pattern="^[\\w\-]+(\\.[\\w\-]+)*@([\\w\-]+\\.)+[a-zA-Z]{2,7}$"
            id="modal-footer"
            name="modal-footer"
            placeholder="Email"
            required
          />
        </label>
        <button class="ModalButton" type="submit">Send</button>
      </form>
    </div>
    </div>
  </div>
  <div class="FooterText ">
    <p class="FooterPrivacy upper">Energy Flow. All rights reserved.</p>
      <div class="regulations">
      <a
          class="FooterPolice policy"
          href="#"
          target="_blank"
          >Privacy Policy</a
        >
        <p class="policy">/</p>
        <a
          class="FooterPolice policy"
          href="#"
          target="_blank"
          >Terms of Service</a
        >
    </div>

  </div>

  </div>
  </footer>
  <!-- loader -->
  <div class="lodDiv">
    <span class="loader"></span>
  </div>

<!-- scroll up -->
<div class="ScrollUp visually-hidden">
  <button class="ScrollUpButton">
    <svg class="ScrollUpSvg mobile" width="20" height="20">
      <use href="/img/symbol-defs.svg#icon-arrow-scrollup"></use>
    </svg>

    <svg class="ScrollUpSvg tablet" width="40" height="40">
      <use href="/img/symbol-defs.svg#icon-arrow-scrollup"></use>
    </svg>

    <svg class="ScrollUpSvg decktop" width="50" height="50">
      <use href="/img/symbol-defs.svg#icon-arrow-scrollup"></use>
    </svg>
  </button>
</div>

