<section class="footerSection">
  <div class="container footP">
    <div class="footInner">
      <a class="footLogo" href="./index.html">energy.flow</a>
      <ul class="footerUl">
        <li class="footerSocialList">
          <a
            class="footerSocialItem"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="footerSvg" width="40" height="40">
              <use href="./img/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footerSocialList">
          <a
            class="footerSocialItem"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="footerSvg" width="40" height="40">
              <use href="./img/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footerSocialList">
          <a
            class="footerSocialItem"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="footerSvg" width="40" height="40">
              <use href="./img/symbol-defs.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="fotterSlogo">
      <h2 class="footerH">
        Transforming your <span class="accent">body</span> shape with us
      </h2>
      <p class="footerP">Subscribe and learn about new exercises!</p>
      <form class="footerForm">
        <label class="footerLabel" for="modal-footer">
          <input
            class="formInput"
            type="email"
            pattern="^[\\w\-]+(\\.[\\w\-]+)*@([\\w\-]+\\.)+[a-zA-Z]{2,7}$"
            id="modal-footer"
            name="modal-footer"
            placeholder="Email"
            required
          />
        </label>
        <button class="modalButton" type="submit">Send</button>
      </form>
      <div class="footerText">
        <p class="footerPrivacy">Energy Flow. All rights reserved.</p>
        <div class="last">
          <p class="footerPrivacy">Privacy Policy</p>
          <p class="footerPrivacy">/</p>
          <p class="footerPrivacy">Terms of Service</p>
        </div>
      </div>
    </div>
  </div>
  <!-- loader -->
  <div class="lodDiv">
    <span class="loader"></span>
  </div>
</section>
