<header class="header-main">
    <div class="container header-inern">
        <a class="header-logo" href="./index.html">energy.flow</a>
        <nav class="header-nav">

            <ul class="header-menu">
                <li><a class="header-link current" href="../../index.html">Home</a></li>
                <li><a class="header-link favorites" href="">Favorites</a></li>
            </ul>
        </nav>

        <ul class="mobile-icons">
            <li class="mobile-icons-list">
                <a href="https://www.instagram.com/goitclub/" target="_blank" class="mobile-icons-link">
                    <svg class="mobile-fill" width="24" height="24">
                        <use href="../../img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="mobile-icons-list">
                <a href="https://www.youtube.com/c/GoIT" target="_blank" class="mobile-icons-link">
                    <svg class="mobile-fill" width="24" height="24">
                        <use href="../../img/symbol-defs.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
            <li class="mobile-icons-list">
                <a href="https://www.facebook.com/goITclub/" target="_blank" class="mobile-icons-link">
                    <svg class="mobile-fill" width="24" height="24">
                        <use href="../../img/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button class="mobil-button-menu" type="button">
            <svg class="mobil-button-menu-svg" xmlns="http://www.w3.org/2000/svg" width="32" height="16"
                viewBox="0 0 32 16" fill="none">
                <path d="M28 10.3333H4" stroke="#7E847F" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M28 5H4" stroke="#7E847F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
</header>

<section class="hero-section">
    <div class="container">
        <div class="hero-position">
            <div class="hero-photo">
            </div>

            <div class="hero-container">
                <h1 class="hero-text-main">Get <span class="hero-word">Body</span> in shape, Stay healthy</h1>
                <p class="hero-text">Transform your physique and embrace a healthier lifestyle with our comprehensive
                    fitness and nutrition support..</p>
            </div>
        </div>
        <div class="legend">
            <ul class="legend-list">
                <li class="legend-item">#Sport</li>
                <li class="legend-item">#Healthy</li>
                <li class="legend-item">#Workout</li>
                <li class="legend-item">#Diet</li>
            </ul>
        </div>
    </div>


</section>
<!-- <section class="container ">
    <div class="hero-double">
        <div class="small-quota">
            <ul class="quota-list">
                <li class="quota-item">#Sport</li>
                <li class="quota-item">#Healthy</li>
                <li class="quota-item">#Workout</li>
                <li class="quota-item">#Diet</li>
            </ul>
        </div>
        <div class="container hero-container">
            <h1 class="hero-text-main">Get <span class="hero-word">Body</span> in shape, Stay healthy</h1>
            <p class="hero-text">Transform your physique and embrace a healthier lifestyle with our comprehensive
                fitness and nutrition support..</p>
        </div>

    </div>

</section> -->