<section class="container">
  <div class="quote">
    <div class="quote-icon-div-two">
      <svg class="quote-icon-two">
        <use href="/img/symbol-defs.svg#icon-quote"></use>
      </svg>
    </div>
    <div class="quote-one">
      <div class="quote-icon-div-one">
        <svg class="quote-icon" width="18" height="20">
          <use href="/img/symbol-defs.svg#icon-running"></use>
        </svg>
      </div>
      <div class="quote-of-the-day">
        <h3 class="quote-title">Quote of the day</h3>
        <p class="quoteText"></p>
        <p class="quoteAuthor"></p>
      </div>
    </div>
    <div class="quote-two">
      <div class="quote-img"></div>
    </div>
  </div>
</section>