<section class="container">
    <div>
      <ul class="QuoteUl">
        <li class="QuoteLiOne">
          <div class="Quote">
            <div class="QuoteDiv">
              <svg class="QuoteSvgOne" width="34" height="32">
                <use href=""></use>
              </svg>
              <div>
                <h3 class="QuoteH3">Quote of the day</h3>
              </div>
              <div>
                <svg class="QuoteSvgTwo" width="48" height="48">
                  <use href=""></use>
                </svg>
              </div>
            </div>
            <div>
              <p class="QuoteText"></p>
              <p class="QuoteAuthor"></p>
            </div>
          </div>
        </li>
        <li class="QuoteLiTwo"></li>       
      </ul>
    </div>
  </section>