<section class="container containerQuote">
  <div class="Quote">
    <div class="QuoteOne">
      <div class="QuoteIconDivOne">
        <svg class="QuoteIcon" width="18" height="20">
          <use href="/img/symbol-defs.svg#icon-running"></use>
        </svg>
      </div>
      <div class="QuoteOfTheDay">
        <h3 class="QuoteTitle">Quote of the day</h3>
        <p class="QuoteText"></p>
        <p class="QuoteAuthor"></p>
      </div>
      <!-- <div class="QuoteIconDivTwo">
        <svg class="QuoteIcon" width="28" height="28">
          <use href=""></use>
        </svg>
      </div> -->
    </div>
    <div class="QuoteTwo">
      <div class="QuoteImg"></div>
    </div>
  </div>
</section>